{% extends 'base.html' %}

{% block title %}
Выбор университетов
{% endblock %}
{% block content %}
{% if current_user.is_authenticated and current_user.type == 4 %}
<a class="contain btn btn-outline-primary" href="http://localhost:5000/add_university">Добавить университет</a>
{% endif %}
<main class="container form-signin w-80 m-auto">
    <h2 align="center">Университеты</h2>
        <table class="tbl">
            <tr class="mn">
                <td>Название</td>
                <td>Почта</td>
                <td>Адрес</td>
                <td>Факультет</td>
                <td>Балл</td>
                <td>Действия</td>
            </tr>
            {% for university in universities %}
            {% set faculties = university.faculties %}
            {% set f_number = faculties|length %}
            {% if f_number > 0 %}
            <tr>
                <td rowspan="{{f_number}}">{{ university.name }}</td>
                <td rowspan="{{f_number}}">{{ university.email }}</td>
                <td rowspan="{{f_number}}">{{ university.address }}</td>
                <td>{{ faculties[0].name }}</td>
                <td>{{ faculties[0].score }}</td>
                <td>
                    {% if current_user.is_authenticated and current_user.type == 2 %}
                    <a class="btn btn-outline-primary" href="http://localhost:5000/sending/{{ faculties[0].id }}">Отправить заявление на приём</a>
                    {% endif %}
                    <a class="btn btn-outline-primary" href="http://localhost:5000/universities/{{ university.id }}">Просмотр университета</a>
                    <a class="btn btn-outline-primary" href="http://localhost:5000/faculties/{{ faculties[0].id }}">Просмотр факультета</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td>{{ university.name }}</td>
                <td>{{ university.email }}</td>
                <td>{{ university.address }}</td>
                <td></td>
                <td></td>
                <td>
                    <a class="btn btn-outline-primary" href="http://localhost:5000/universities/{{ university.id }}">Просмотр университета</a>
                </td>
            </tr>
            {% endif %}
            {% for faculty in faculties %}
            {% if loop.index != 1 %}
            <tr>
                <td>{{ faculty.name }}</td>
                <td>{{ faculty.score }}</td>
                <td>
                    {% if current_user.is_authenticated and current_user.type == 2 %}
                    <a class="btn btn-outline-primary" href="http://localhost:5000/sending/{{ faculty.id }}">Отправить заявление на приём</a>
                    {% endif %}
                    <a class="btn btn-outline-primary" href="http://localhost:5000/universities/{{ university.id }}">Просмотр университета</a>
                    <a class="btn btn-outline-primary" href="http://localhost:5000/faculties/{{ faculty.id }}">Просмотр факультета</a>
                </td>
            </tr>
            {% endif %}

            {% endfor %}
            {% endfor %}
        </table>
{% endblock %}

