{% extends "base.html" %}

{% block content %}
<h1>Форма для отправки заявления в институт</h1>
<div>
    <form class="login_form" method="post">
        <input type="text" class="form-control" id="surname" aria-describedby="emailHelp" placeholder="Фамилия" >
        <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Имя">
        <input type="text" class="form-control" id="patronymic" aria-describedby="emailHelp" placeholder="Отчество">
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Введите адрес почты">
        <div class="form-group">
            <label for="classSelect">Выберете факультет</label>
            <select class="form-control" id="facultie" name="class">
                {% for faculti in faculties%}
                    <option>{{ faculti.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="about">Расскажите о себе о себе</label>
            <textarea class="form-control" id="about" rows="3" name="about"></textarea>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="surname" aria-describedby="emailHelp" placeholder="Фамилия" >
        </div>
        <div class="form-group">
            <label for="file">Приложите аттестат</label>
            <input type="file" class="form-control-file" id="file" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Подать заявку</button>
    </form>
</div>
{% endblock %}