{% extends 'base.html' %}

{% block content %}
    <h2 align="center">Какие есть университеты</h2>
    {% for universiti in universities %}
        <h3>Action #{{ loop.index }}</h3>
        <table class="tbl">
            <tr class="mn">
                <td>Название университета</td>
                <td>Почта университета</td>
                <td>Адресс университета</td>
            </tr>
            <tr>
                <td>{{ universiti.name }}</td>
                <td>{{ universiti.email }}</td>
                <td>{{ universiti.address }}</td>
            </tr>
        </table>
    {% endfor %}
{% endblock %}
