{% extends 'base.html' %}

{% block content %}
    <h2 align="center">Какие есть факультеты</h2>
    <a class="btn btn-outline-primary" href="http://localhost:5000/">Назад</a>
    {% for user in users %}
        <table class="tbl">
            <tr class="mn">
                <td>Имя</td>
                <td>Фамилия</td>
                <td>Баллы ЕГЭ</td>
                <td>Статус</td>
            </tr>
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.min_ege_score }}</td>
                <td>{{ user.type }}</td>
            </tr>
        </table>
    <a class="btn btn-outline-primary" href="http://localhost:5000/user/{{ user.id }}">Изменить учётную запись</a>
    {% endfor %}
{% endblock %}
